.top-section {
  background-color: #f5f5f5;
  padding-top: 5px;
  padding-left: 110px;
}
body{
  overflow-x: hidden;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: forma-djr-micro, Arial, sans-serif;

}
.brands {
  height: 27px;
  margin-left: 30px;
}
.bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.main-logo {
  height: 48px;
  margin-left: 145px;
}
.bottom-section a {
  text-decoration: none;
}
.bottom-section a h5 {
  font-family: forma-djr-micro, arial, sans-serif;
  color: #807474;
  font-size: 20px;
  font-weight: lighter;
}
.bottom-section {
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.search {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 10px;
  height: 20px;
  border: 1px solid #c8c3c3;
}
.searchtext {
  border: none;
  outline: none;
  background: transparent;
  font-size: medium;
  width: 400px;
}
.searchicon {
  color: #928989;
  cursor: pointer;
  font-size: 20px;
}
.signin-button {
  height: 30px;
  width: 90px;
  background-color: black;
  color: white;
  font-size: medium;
  margin-left: 20px;
  cursor: pointer;
}
.right-section {
  display: flex;
  align-items: center;
  margin-right: 170px;
}
.image {
  width: 100%;
  height: 650px;
  position: relative;
}

.main-img-div{
  width: 100%;
}

.main-image {
  width: 100%;
  height: 650px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.cart {
  font-size: 25px;
  margin-left: 25px;
  color: grey;
  cursor: pointer;
}

.back-to-school {
  font-size: 70px;
  position: absolute;
  top: 482px;
  color: white;
  font-family: forma-djr-micro, arial, sans-serif;
  margin-left: 150px;
}
.hr1 {
  position: relative;
  bottom: 436px;
  background-color: rgb(255, 255, 255);
}
.hr2 {
  position: relative;
  bottom: 336px;
  background-color: rgb(255, 255, 255);
}
.unlock-potential {
  font-size: 40px;
  position: absolute;
  top: 589px;
  color: white;
  font-family: forma-djr-micro, arial, sans-serif;
  margin-left: 150px;
}

.dot1 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(84, 80, 80);
  width: 50px;
  height: 5px;
  border-radius: 25px;
  cursor: pointer;
}

.dot2 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(84, 80, 80);
  width: 5px;
  height: 5px;
  border-radius: 2px;
  margin-left: 7px;
  cursor: pointer;
}

.dot3 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(84, 80, 80);
  width: 5px;
  height: 5px;
  border-radius: 2px;
  margin-left: 7px;
  cursor: pointer;
}

.dot4 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(84, 80, 80);
  width: 5px;
  height: 5px;
  border-radius: 2px;
  margin-left: 7px;
  cursor: pointer;
}

.dot5 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(84, 80, 80);
  width: 5px;
  height: 5px;
  border-radius: 2px;
  margin-left: 7px;
  cursor: pointer;
}
.main-dot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hey-there {
  margin-top: 65px;
  margin-bottom: 10px;
  font-size: 50px;
  color: rgb(0, 0, 0);
  font-family: forma-djr-micro, Arial, sans-serif;
  margin-left: 150px;
}

.hr3 {
  margin-bottom: 10px;
  height: 1px;
}
.help-you {
  margin-bottom: 50px;
  font-size: 34px;
  color: rgb(0, 0, 0);
  font-family: forma-djr-micro, Arial, sans-serif;
  margin-left: 150px;
}
.img1 {
  height: 420.1px;
  width: 386px;
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  position: relative;
  overflow: hidden;
}
.img2 {
  height: 420.1px;
  width: 386px;
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
}
.img3 {
  height: 420.1px;
  width: 386px;
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
}
.images {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  gap: 30px;
  width: 100%;
}

.accessories {
  height: 368.1px;
  object-fit: cover;
  transition:transform .3s;
  overflow: hidden;
}

.accessories:hover {
  transform: scale(1.3,1);
}
.printers {
  position: absolute;
  top: 379px;
  left: 18px;
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 28px;
}

.pc {
  position: absolute;
  top: 1397px;
  left: 730px;
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 28px;
}

.monitors {
  position: absolute;
  top: 1397px;
  left: 1040px;
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 28px;
}
.print-pals {
  height: 300px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}
.print-pal-image {
  height: 170px;
  width: 1222px;
  object-fit: cover;
  margin: 20px;
}
.bring {
  position: absolute;
  left: 200px;
  top: 75px;
  font-size: 40px;
  font-family: forma-djr-micro, Arial, sans-serif;
  width: 100%;
}
.bring2 {
  position: absolute;
  left: 200px;
  top: 140px;
  font-size: 16px;
  font-family: forma-djr-micro, Arial, sans-serif;
  width: 100%;
}
.learn {
  height: 30px;
  width: 70px;
  background-color: black;
  color: white;
  font-size: medium;
  margin-left: 20px;
  position: absolute;
  left: 180px;
  top: 180px;
}

.ad {
  height: 550px;
  width: 100%;
}
footer {
  height: 550px;
  width: 100%;
  background-color: black;
}
.above-footer {
  margin: 0px;
  padding-bottom: 0px;
  height: 550px;
  width: 100%;
  position: relative;
}
.friends {
  position: absolute;
  top: 20px;
  left: 120px;
  font-size: 70px;
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
}
.family {
  position: absolute;
  top: 120px;
  font-size: 34px;
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  left: 120px;
}

.hr4 {
  position: relative;
  bottom: 450px;
  background-color: rgb(255, 255, 255);
}

.hr5 {
  position: relative;
  bottom: 383px;
  background-color: rgb(255, 255, 255);
}

.social-media {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 450px;
  left: 120px;
  cursor: pointer;
}

.flag {
  display: flex;
}

.related-links {
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  left: 125px;
  width: 100%;
}
.country {
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  left: 125px;
}
.us {
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  left: 145px;
}
.us-flag {
  position: relative;
  left: 135px;
  top: 23px;
}
.line {
  align-content: center;
}
.column {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.one {
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 14px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.two {
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 14px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.three {
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 14px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.four {
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 14px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.five {
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 14px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.social-media-2 {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.f-2 {
  padding-top: 10px;
  color: white;
  text-decoration: none;
}
.five-p {
  padding-bottom: 20px;
}
.last1{
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 14px;
  position: relative;
  left: 128px;
  margin-top: 20px;
}
.last {
  color: white;
  font-family: forma-djr-micro, Arial, sans-serif;
  font-size: 14px;
  position: relative;
  left: 128px;
  text-decoration: none;
}
.last:hover{
  text-decoration: underline;
}
.f-2:hover{
    text-decoration: underline;
  
}
.one-p,
.three-p {
  cursor: pointer;
  text-decoration: none;
  color: #f5f5f5;
}
.one-p:hover,.three-p:hover{
  text-decoration: underline;
}

.f-2 {
  cursor: pointer;
}
.related-links {
  cursor: pointer;
}
.country {
  cursor: pointer;
}
.black-color {
  height: 180px;
  width: 100%;
  background-color: black;
  position: relative;
  bottom: 180px;
  opacity: 0.6;
}
.signin-button:hover {
  background-color: #524e4e;
  border-style: none;
}
.cart:hover {
  color: rgb(72, 126, 251);
}

.hrbox1{
    position: relative;
    bottom: 500px;
    left: 15px;
}
.hrbox2{
    position: relative;
    bottom: 526px;
    left: 1470px;
}
.arrow1{
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 547px;
    left: 1475px;
}
.arrow2{
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 547px;
    left: 4px;
}
nav{
  display: flex;
  align-items: center;
  gap: 50px;
}
.left-section{
  display: flex;
  gap: 40px;
}
.help{
  width: 100%;
}
.footer-p{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
}
#privacy{
  height: 10px;
  padding-top: 3px;

}
.round{
  height: 30px;
  width: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  position: absolute;
  top: 596px;
  left: 1110px;
}
.round-arrow{
  position: relative;
  top: 7px;
  left: 10px;
}

.shop a{
  color: #ffffff;
  position: relative;
  bottom: 305px;
  left:405px;
  text-decoration: none;
  font-family: forma-djr-micro, Arial, sans-serif;
}

.total-round a:hover{
  text-decoration: underline;
  opacity: 1;
}

.total-round{
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-round :hover{
  opacity: .6;
}

.right-arrow-icon{
  font-size: 20px;
}
.right-arrow{
display: flex;
position: absolute;
left:280px;
bottom:94px;
gap:5px;
}